@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");

@mixin desktop {
  @media (max-width: 1200px) {
    @content;
  }
}
@mixin pad {
  @media (max-width: 992px) {
    @content;
  }
}
@mixin mini-pad {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: 576px) {
    @content;
  }
}
@mixin mini-mobile {
  @media (max-width: 400px) {
    @content;
  }
}

.container {
  // 關於我們內容
  .content {
    max-width: 66rem; // added
    margin: auto; // added
    display: flex;

    &:last-child {
      margin-bottom: 5rem;
    }

    // 關於我們左圖
    .contentLeft-img {
      width: 10rem;
      height: 20rem;
      margin-left: 3.2rem;

      @include desktop {
        width: 8.5rem;
        height: 17rem;
        margin-left: 2.4rem;
      }
      @include pad {
        width: 7.5rem;
        height: 15rem;
        margin-left: 2.4rem;
      }
      @include mini-pad {
        width: 6.4rem;
        height: 12.8rem;
        margin-left: 1.8rem;
      }
      @include mobile {
        width: 4.3rem;
        height: 8.6rem;
        margin-left: 1.3rem;
      }
      @include mini-mobile {
        width: 3.5rem;
        height: 7rem;
      }
    }
    // 關於我們右圖
    .contentRight-img {
      max-width: 100%;
      height: 18rem;

      @include desktop {
        height: 16rem;
      }
      @include pad {
        height: 14rem;
      }
      @include mini-pad {
        height: 11rem;
      }
      @include mobile {
        height: 8rem;
      }
      @include mini-mobile {
        height: 6rem;
      }
    }

    .content-txt {
      display: flex;
      flex-direction: column;

      p {
        width: auto;
        margin: 0 1.5rem 1rem;
        font-size: 1.2em;
        text-align: left;
        line-height: 2;
        @include desktop {
          font-size: 1em;
        }
        @include mini-pad {
          font-size: 0.8em;
        }
      }
    }
  }
}
