@mixin desktop {
  @media (max-width: 1200px) {
    @content;
  }
}
@mixin pad {
  @media (max-width: 992px) {
    @content;
  }
}
@mixin mini-pad {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: 576px) {
    @content;
  }
}
@mixin mini-mobile {
  @media (max-width: 400px) {
    @content;
  }
}

.container {
  max-width: 100%;
  margin: auto;
  @include pad {
    width: 100%;
  }

  .banner {
    width: 100%;
    height: auto;
    margin: 0 auto 15rem;
    display: flex;
    align-items: center;
    position: relative;
    @include pad {
      margin: 1rem auto 10rem;
    }

    img {
      width: 100%;
      padding-top: 5rem;
      height: 620px;
      z-index: -1;
      @include desktop {
        height: auto;
      }
    }
  } // banner
} //container
