@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");

@mixin desktop {
  @media (max-width: 1200px) {
    @content;
  }
}
@mixin pad {
  @media (max-width: 992px) {
    @content;
  }
}
@mixin mini-pad {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: 576px) {
    @content;
  }
}
@mixin mini-mobile {
  @media (max-width: 400px) {
    @content;
  }
}

.container {
  // 內容的標題
  .content-title {
    max-width: 66rem; // added
    height: 20vh;
    margin: 5rem auto 0; // added
    display: flex;
    justify-content: center;
    align-items: center;
    @include mini-pad {
      margin: 0 auto;
    }

    .wrap {
      width: 90%;
      text-align: center;

      h2 {
        display: inline-block;
        color: #1017a9;
        position: relative;
        margin: 0 auto 2rem;
        font-weight: 500;
        @include mobile {
          font-size: 1.3em;
        }

        &::before {
          content: "";
          display: block;
          border-bottom: 3px solid #a3defc;
          width: 10rem;
          position: absolute;
          bottom: 7px;
          right: -10.5rem;
        }
        &::after {
          content: "";
          display: block;
          border-bottom: 3px solid #a3defc;
          width: 10rem;
          position: absolute;
          bottom: 7px;
          left: -10.5rem;
        }
      }

      .decoraction {
        height: 10px;
        width: 100%;
        background-color: #88ddec;
        margin: 0 auto 2rem;
        position: relative;

        &::before {
          content: "";
          background: #0bcf67;
          height: 10px;
          width: 8px;
          position: absolute;
          left: 15%;
          @include mobile {
            width: 9px;
          }
        }
        &::after {
          content: "";
          background: #0bcf67;
          height: 10px;
          width: 8px;
          position: absolute;
          left: 85%;
          top: 0;
          @include mobile {
            width: 9px;
            left: 83%;
          }
        }

        .square {
          width: 100%;
          height: 10px;

          &::before {
            content: "";
            display: block;
            background: #0bcf67;
            height: 10px;
            width: 8px;
            position: absolute;
            left: 5%;
            @include mobile {
              width: 9px;
            }
          }
          &::after {
            content: "";
            display: block;
            background: #0bcf67;
            height: 10px;
            width: 8px;
            position: absolute;
            left: 95%;
            @include mobile {
              width: 9px;
              left: 93%;
            }
          }
        }
      }
    }
  } // content-title
} // container
