@mixin desktop {
  @media (max-width: 1200px) {
    @content;
  }
}
@mixin pad {
  @media (max-width: 992px) {
    @content;
  }
}
@mixin mini-pad {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: 576px) {
    @content;
  }
}
@mixin mini-mobile {
  @media (max-width: 400px) {
    @content;
  }
}

.footer {
  max-width: 100%;
  height: 30vh;
  margin: auto;
  background: linear-gradient(140deg, transparent 100px, #88ddec 0);
  position: relative;
  color: #666;
  @include desktop {
    max-width: 100%;
    overflow-x: hidden;
  }
  @include mini-pad {
    background: linear-gradient(140deg, transparent 80px, #88ddec 0);
  }
  @include mobile {
    width: 100%;
  }
  @include mini-mobile {
    height: 25vh;
    background: linear-gradient(135deg, transparent 50px, #88ddec 0);
  }

  h2 {
    display: inline-block;
    font-size: 1.7em;
    font-weight: normal;
    position: absolute;
    top: 20%;
    left: 25%;
    @include pad {
      font-size: 1.5em;
      display: block;
    }
    @include mini-pad {
      // margin-left: 7rem;
    }
    @include mobile {
      font-size: 1.5em;
    }
    @include mini-mobile {
      font-size: 1.2em;
      padding-left: 0.5rem;
    }
  }

  .footer-wrap {
    width: 500px;
    display: inline-block;
    font-size: 1.2em;
    line-height: 2;
    position: absolute;
    top: 35%;
    left: 33%;
    margin: auto;
    @include mini-pad {
      left: 18%;
    }
    @include mobile {
      font-size: 1em;
    }
    @include mini-mobile {
      font-size: 0.7em;
    }

    p {
      font-family: "BankGothic Md BT";

      .fa {
        width: 2rem;
        padding-right: 0.5rem;
        text-align: center;
      }
      @include pad {
        text-align: left;
      }
      @include mini-pad {
        font-size: 0.9em;
        // margin-left: 7rem;
      }
    }
  } //footer-wrap

  a {
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #666;
    position: absolute;
    bottom: 5px;
    @include mini-mobile {
      font-size: 0.5em;
    }
  }
} //footer
