@mixin desktop {
  @media (max-width: 1200px) {
    @content;
  }
}
@mixin pad {
  @media (max-width: 992px) {
    @content;
  }
}
@mixin mini-pad {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: 576px) {
    @content;
  }
}
@mixin mini-mobile {
  @media (max-width: 400px) {
    @content;
  }
}

@mixin user-select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
$primary-color: #93cddd;

.home {
  max-width: 100%;
  margin: 3rem auto 0;
  @include pad {
    margin-top: 6rem;
  }

  .container-home {
    width: 100%;
    height: auto;
    margin-bottom: 7rem;
    position: relative;

    img {
      width: 100%;
      height: auto;
      object-fit: contain;
      @include user-select-none;
    }

    .container-home-txt {
      width: 60%;
      position: absolute;
      top: 1rem;
      left: 1rem;

      h2 {
        width: 100%;
        color: #f7f7f7;
        font-size: 3em;
        @include pad {
          font-size: 2em;
        }
        @include mini-pad {
          font-size: 1.6em;
        }
        @include mobile {
          font-size: 1.4em;
        }
        @include mini-mobile {
          font-size: 1.2em;
        }
      }

      p {
        width: 80%;
        color: #f7f7f7;
        font-size: 2.5em;
        @include pad {
          font-size: 1.6em;
        }
        @include mini-pad {
          width: 100%;
          font-size: 1.2em;
        }
        @include mobile {
          font-size: 0.1em;
        }
        @include mini-mobile {
          font-size: 0.8em;
        }
      }
    }
  } // container-home

  // 橫幅
  .banner-home {
    width: 100%;
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $primary-color;
    position: relative;

    @include mini-pad {
      height: 40vh;
    }
    @include mini-mobile {
      height: 30vh;
    }

    .hexagon {
      filter: drop-shadow(0 0 0.6rem rgba(255, 255, 255, 0.9));
      position: absolute;
      right: 0;

      a {
        width: 7rem;
        height: 7rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #66e0ff;
        background: #2a2f5f;
        text-decoration: none;
        text-align: center;
        -webkit-clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
        clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
        position: absolute;
        @include user-select-none;

        @include pad {
          width: 6.5rem;
          height: 6.5rem;
        }
        @include mini-pad {
          width: 5.5rem;
          height: 5.5rem;
          font-size: 0.9em;
        }
        @include mobile {
          width: 4.5rem;
          height: 4.5rem;
          font-size: 0.7em;
        }
        @include mini-mobile {
          width: 3.5rem;
          height: 3.5rem;
          font-size: 0.5em;
        }

        &:nth-child(1) {
          right: 1rem;
          top: -5rem;

          @include pad {
            top: -4.5rem;
          }
          @include mini-pad {
            top: -4rem;
          }
          @include mobile {
            top: -3.5rem;
          }
          @include mini-mobile {
            top: -2.5rem;
          }
        }
        &:nth-child(2) {
          right: 7.5rem;
          top: -1rem;

          @include pad {
            right: 7rem;
          }
          @include mini-pad {
            right: 6rem;
          }
          @include mobile {
            right: 5rem;
          }
          @include mini-mobile {
            right: 4rem;
            top: -0.7rem;
          }
        }
        &:nth-child(3) {
          right: 1rem;
          top: 3rem;

          @include pad {
            top: 2.5rem;
          }
          @include mini-pad {
            top: 2rem;
          }
          @include mobile {
            top: 1.5rem;
          }
          @include mini-mobile {
            top: 1rem;
          }
        }
        &::before {
          content: "";
          opacity: 0.8;
          border-left: 3.6rem solid #aaacbf;
          border-top: 3px solid #aaacbf;
          box-shadow: 0 0 3px #fff;
          border-radius: 3px;
          position: absolute;
          top: 5%;

          @include pad {
            border-left: 3.4rem solid #aaacbf;
          }
          @include mini-pad {
            border-left: 2.9rem solid #aaacbf;
          }
          @include mobile {
            border-left: 2.4rem solid #aaacbf;
          }
          @include mini-mobile {
            border-left: 2rem solid #aaacbf;
          }
        }
        &::after {
          content: "";
          opacity: 0.8;
          border-right: 3.6rem solid #aaacbf;
          border-bottom: 3px solid #aaacbf;
          border-radius: 3px;
          box-shadow: 0 0 3px #fff;
          transform: rotate(-61deg);
          position: absolute;
          top: 27%;
          left: -12%;

          @include pad {
            border-right: 3.3rem solid #aaacbf;
          }
          @include mini-pad {
            border-right: 2.9rem solid #aaacbf;
          }
          @include mobile {
            border-right: 2.4rem solid #aaacbf;
          }
          @include mini-mobile {
            border-right: 1.8rem solid #aaacbf;
          }
        }
        &:hover {
          color: #f7f7f7;
          background: #434ca2;
        }
      } // a
    } // hexegon

    h1 {
      // 橫幅標題
      width: 100%;
      height: 40%;
      margin: -1rem 0 1rem 0;
      padding-left: 1em;
      font-size: 5.5em;
      font-family: "Noto Sans Lisu", "Century Schoolbook";
      color: #fff;
      @include user-select-none;

      @include mini-pad {
        height: 50%;
        font-size: 5em;
        padding-left: 1em;
        margin: 1.5rem 0 -1.5rem 0;
      }
      @include mobile {
        font-size: 4em;
      }
      @include mini-mobile {
        height: 40%;
        font-size: 2em;
        margin: 0;
      }

      &::first-letter {
        font-size: 200%;
      }
    }

    .imgWrap {
      width: 95%;
      height: 60%;
      margin-bottom: 1rem;
      border-radius: 70px;
      padding: 0 1rem;
      background: #dff0f5;
      display: grid;
      grid-template-columns: auto auto auto auto;
      align-items: center;
      justify-content: center;
      column-gap: 2rem;
      @include pad {
        height: 50%;
        margin: 1rem 0 0;
      }
      @include mini-pad {
        height: 40%;
      }
      @include mini-mobile {
        column-gap: 1rem;
      }
      @include mobile {
        column-gap: 0.5rem;
      }

      img {
        // 橫幅圖片
        height: 10rem;
        @include user-select-none;

        @include pad {
          width: 8rem;
          height: 8rem;
        }
        @include mini-pad {
          width: 4rem;
          height: 5rem;
        }
        @include mobile {
          width: 3rem;
          height: 4rem;
        }
        @include mini-mobile {
          width: 3rem;
          height: 3rem;
        }
        &:nth-child(n + 2) {
          width: 13rem;

          @include pad {
            width: 11rem;
          }
          @include mini-pad {
            width: 10rem;
          }
          @include mobile {
            width: 6rem;
          }
          @include mini-mobile {
            width: 5rem;
          }
        }
      }
    }
  } // banner-home

  // 內容
  .content {
    max-width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    .wrap {
      width: 100%;
      height: 60vh;
      position: relative;
      &:nth-child(2) {
        transform: scaleX(-1);

        .topline::before {
          display: none;
        }

        h2 {
          transform: scaleX(-1);
          top: 5rem;
          right: 4.5rem;

          @include mini-pad {
            top: 4rem;
            right: 4rem;
          }
          @include mobile {
            right: 3.5rem;
          }
          @include mini-mobile {
            top: 2.5rem;
            right: 1.8rem;
            letter-spacing: 1.1rem;
          }
        }
        h2:last-child {
          top: 7rem;
          right: 6.5rem;

          @include mini-pad {
            top: 6rem;
            right: 6rem;
          }
          @include mobile {
            right: 5rem;
          }
          @include mini-mobile {
            top: 4rem;
            right: 3rem;
            letter-spacing: 1.1rem;
          }
        }
      }
      &:nth-child(3) {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;

        .topline::before {
          display: none;
        }

        .underline {
          width: 0;
          height: 0;
          &::before {
            width: 0;
            height: 0;
          }
        }
      }

      .topline {
        height: 2px;
        width: 90%;
        background: $primary-color;
        position: absolute;
        top: 1.66rem;
        left: 1.5rem;
        @include desktop {
          width: 80%;
        }
        @include mobile {
          width: 70%;
        }

        &::before {
          content: "";
          display: inline-block;
          width: 2px;
          height: 2rem;
          background: $primary-color;
          position: absolute;
          bottom: 0;
        }
      }
      .trapezoid {
        width: 9rem;
        border-bottom: 50px solid $primary-color;
        border-left: 60px solid transparent;
        border-right: 40px solid transparent;
        transform: rotate(40deg);
        position: absolute;
        top: 3.8rem;
        right: -1.3rem;

        @include mini-pad {
          width: 7rem;
          top: 3.2rem;
          right: -1.05rem;
        }
        @include mobile {
          width: 5rem;
          transform: rotate(39.5deg);
          top: 2.5rem;
          right: -0.75rem;
        }
        @include mini-mobile {
          width: 2rem;
          border-bottom: 30px solid $primary-color;
          border-left: 35px solid transparent;
          border-right: 25px solid transparent;
          transform: rotate(40deg);
          top: 1.9rem;
          right: 0.2rem;
        }
      }

      .underline {
        width: 87.8%;
        height: 2px;
        background: $primary-color;
        position: absolute;
        right: 1.5rem;
        bottom: 0;
        @include desktop {
          width: 80%;
        }
        @include mini-pad {
          width: 72%;
        }
        @include mobile {
          width: 55%;
        }
        @include mini-mobile {
          width: 70%;
        }

        &::after {
          content: "";
          width: 2px;
          height: 26rem;
          display: inline-block;
          background: $primary-color;
          position: absolute;
          right: -1px;
          bottom: 0;
          @include pad {
            height: 33rem;
          }
          @include mini-pad {
            height: 29rem;
          }
          @include mobile {
            height: 27rem;
          }
          @include mini-mobile {
            height: 20rem;
          }
        }
        &::before {
          content: "";
          width: 2px;
          height: 1.9rem;
          display: inline-block;
          background: $primary-color;
          position: absolute;
          top: 0;
          @include desktop {
          }
        }
      }

      // 服務項目
      .service {
        width: 100%;
        height: 100%;

        .service-content {
          width: 80%;
          height: 50%;
          padding: 3rem;
          margin: 10rem 0 0 3.5rem;
          box-sizing: border-box;
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
          display: grid;
          align-items: center;
          justify-content: center;
          grid-template-columns: 25% 25% 25% 25%;
          grid-template-rows: 70% 30%;
          z-index: -1;
          @include user-select-none;
          @include desktop {
            height: 80%;
            margin-top: 5rem;
            grid-template-columns: 50% 50%;
            grid-template-rows: 50% 50%;
          }
          @include mobile {
            width: 60%;
            padding: 0;
            grid-template-columns: auto;
            grid-template-rows: auto auto auto auto;
            overflow-y: scroll;
            &::-webkit-scrollbar {
              width: 0.1rem;
            }
            &::-webkit-scrollbar-track {
              background: transparent;
            }
          }
          @include mini-mobile {
            margin: 3rem 0 0 4rem;
          }

          .service-content-wrap {
            display: flex;
            flex-direction: column;
            text-align: center;
            @include mobile {
              margin: 1rem auto;
            }

            img {
              width: 10rem;
              height: 8rem;
              margin: auto;
              object-fit: contain;
            }

            a {
              width: 150px;
              margin: 1.5rem auto -1.5rem;
              text-decoration: none;
              color: #888;
              font-weight: 600;
              font-size: 1.3em;
              text-align: center;
              z-index: 1;
              &:hover {
                color: rgb(226, 90, 90);
              }
              @include desktop {
                margin: 0.3rem auto -0.3rem;
              }
              @include mobile {
                margin: 1rem auto;
              }
            }
          }
        }
      }

      // 國際認證
      .certification {
        max-width: 80%;
        height: 100%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 80%;
          margin: 0 8rem 0 1rem;
          transform: scaleX(-1);

          @include user-select-none;
          @include mobile {
            width: 100%;
            height: 150px;
            margin-right: 1rem;
          }
        }
      }

      // 相關新聞
      .news {
        width: 60%;
        margin: auto;
        padding: 1rem;
        border-radius: 10px;
        position: absolute;
        left: 15%;
        top: 10%;
        bottom: 0;

        @include pad {
          left: 10%;
        }
        @include mini-mobile {
          left: 8%;
        }

        .news-wrap {
          width: 100%;
          display: inline-block;
          padding: 0.7rem;
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
          position: relative;

          .fa-newspaper-o {
            padding-right: 5px;
          }

          button {
            text-decoration: none;
            font-size: 1.2em;
            margin-right: 3rem;
            border: none;
            color: rgb(116, 4, 106);
            background-color: transparent;
            cursor: pointer;
            &:hover {
              color: #f44;
            }

            @include pad {
              font-size: 1em;
            }
            @include mini-pad {
              font-size: 0.8em;
            }
          }

          span {
            padding-right: 5px;
            position: absolute;
            right: 0;

            @include pad {
              font-size: 1em;
            }
            @include mini-pad {
              font-size: 0.7em;
            }
          }
        }
      }

      h2 {
        @include user-select-none;
        color: #0a489d;
        font-weight: 500;
        font-size: 2.1em;
        writing-mode: vertical-rl;
        position: absolute;
        top: 4rem;
        right: 6.5rem;

        @include mini-pad {
          right: 5.5rem;
        }
        @include mobile {
          right: 4.5rem;
          font-size: 1.7em;
        }
        @include mini-mobile {
          top: 2.5rem;
          right: 3rem;
          font-size: 1.2em;
          letter-spacing: 1.1rem;
        }
      }
      h2:last-child {
        right: 4.5rem;
        top: 6rem;

        @include mini-pad {
          right: 3.5rem;
        }
        @include mobile {
          right: 3rem;
          font-size: 1.7em;
        }
        @include mini-mobile {
          top: 4rem;
          right: 1.8rem;
          font-size: 1.2em;
          letter-spacing: 1.1rem;
        }
      }

      .english {
        letter-spacing: 0.5rem;
      }
      .taiwanese {
        letter-spacing: 1.9rem;
      }
    }

    .overlay {
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.7);
      z-index: 9999;
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 0;
      left: 0;

      img {
        width: 100%;
        height: 80%;
        object-fit: contain;
      }

      .close-btn {
        width: 50px;
        height: 50px;
        border: 1px solid #000;
        border-radius: 50%;
        font-size: 20px;
        position: absolute;
        top: 40px;
        right: 50px;
        cursor: pointer;
        &:hover {
          color: #f7f7f7;
          background-color: #f00;
          border-color: #f7f7f7;
        }
      }
    }
  }
}
