@mixin desktop {
  @media (max-width: 1200px) {
    @content;
  }
}
@mixin pad {
  @media (max-width: 992px) {
    @content;
  }
}
@mixin mini-pad {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: 576px) {
    @content;
  }
}

@keyframes bordershow {
  50% {
    box-shadow: 0 0 10px 0 #001eb4;
  }
}
@keyframes borderM {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  75% {
    transform: translate(-50%, -50%) scale(2);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@mixin user-select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
$primary-color: #93cddd;

.home {
  margin: auto;
  width: 66rem;
  // overflow-x: hidden;
  // overflow-y: visible;

  .container-home {
    width: 100%;
    height: auto;
    position: relative;

    img {
      width: 100%;
      height: auto;
      @include user-select-none;
    }

    .imgOption {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;

      .point {
        position: absolute;
        z-index: 1;

        // 藍色原點
        .point_a {
          cursor: pointer;
          display: block;
          position: relative;
          text-decoration: none;

          // 白色原點
          .point_span {
            display: block;
            width: 5px;
            height: 5px;
            background-color: #fff;
            border: 7px solid #001eb4;
            border-radius: 50%;
            animation: bordershow 3s infinite;

            &::before {
              content: "";
              width: 25px;
              height: 25px;
              display: block;
              position: absolute;
              left: 50%;
              top: 50%;
              z-index: -1;
              border-radius: 50%;
              transform: translate(-50%, -50%);
              background: rgba(0, 30, 180, 0.4);
              animation: borderM 3s 0.75s infinite;
            }
            &::after {
              content: "";
              width: 25px;
              height: 25px;
              display: block;
              position: absolute;
              left: 50%;
              top: 50%;
              z-index: -1;
              border-radius: 50%;
              transform: translate(-50%, -50%);
              background: rgba(0, 30, 180, 0.4);
              animation: borderM 3s infinite;
            }
          }

          // 右邊欄
          .point_wrap {
            height: 50px;
            width: 180px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            white-space: nowrap;
            visibility: hidden;
            transform: translateY(-50%);
            position: absolute;
            top: 50%;
            left: 40px;

            &::before {
              content: "";
              height: 100%;
              width: 100%;
              position: absolute;
              left: 0;
              top: 0;
              z-index: -1;
              background: rgba(0, 30, 180, 0.77);
              border-radius: 30px;
            }
            &::after {
              content: "";
              height: 100%;
              width: 30px;
              position: absolute;
              right: 95%;
              z-index: -1;
            }

            span {
              color: #fff;
            }
          }

          &:hover > .point_wrap {
            visibility: visible;
          }
        } // point_a
      } // point
      .point1 {
        top: 52%;
        left: 25%;
      }
      .point2 {
        top: 25%;
        left: 39%;
      }
      .point3 {
        top: 22%;
        left: 69%;
      }
      .point4 {
        top: 47%;
        left: 55.5%;
      }
    } // imgOption
  } // container-home

  // 橫幅
  .banner-home {
    width: 100%;
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $primary-color;
    position: relative;

    .hexagon {
      span {
        @include user-select-none;
        width: 7rem;
        height: 7rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.1em;
        cursor: default;
        color: #66e0ff;
        background-color: #2a2f5f;
        -webkit-clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
        clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
        position: absolute;
      }
      span:nth-child(1) {
        right: 1rem;
        top: -5rem;
      }
      span:nth-child(2) {
        right: 7.5rem;
        top: -1rem;
      }
      span:nth-child(3) {
        right: 1rem;
        top: 3rem;
      }
    }

    h1 {
      @include user-select-none;
      width: 100%;
      height: 40%;
      padding-left: 2em;
      margin: 0.5rem 0 -0.5rem 0;
      @include desktop {
        // margin: -1rem 0 1rem 0;
      }

      &::first-letter {
        font-size: 200%;
      }

      font: {
        size: 5.5em;
        family: "Noto Sans Lisu";
      }
      color: #fff;
      cursor: default;
    }

    .imgWrap {
      width: 90%;
      height: 60%;
      margin-bottom: 1rem;
      border-radius: 100px;
      background-color: #dff0f5;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 10rem;
        height: 10rem;
        padding: 0 1rem;
        border-radius: 10px;
      }
      img:nth-child(n + 3) {
        width: 13rem;
      }
    }
  }

  // 內容
  .content {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;

    .wrap {
      width: 100%;
      height: 60vh;
      position: relative;

      .topline {
        height: 2px;
        width: 80%;
        background-color: $primary-color;
        position: absolute;
        top: 1.7rem;
        left: 1.5rem;

        &::before {
          content: "";
          display: inline-block;
          width: 2px;
          height: 2rem;
          background-color: $primary-color;
          position: absolute;
          bottom: 0;
        }
      }
      .trapezoid {
        width: 9rem;
        border-bottom: 50px solid $primary-color;
        border-left: 60px solid transparent;
        border-right: 40px solid transparent;
        transform: rotate(40deg);
        position: absolute;
        top: 3.8rem;
        right: -1.3rem;
      }

      .underline {
        width: 85.2%;
        height: 2px;
        background-color: $primary-color;
        position: absolute;
        right: 1.5rem;
        bottom: 0;

        &::after {
          content: "";
          width: 2px;
          height: 27rem;
          display: inline-block;
          background-color: $primary-color;
          position: absolute;
          right: 0;
          bottom: 0;

          @include desktop {
            height: 17rem;
          }
        }
        &::before {
          content: "";
          width: 2px;
          height: 2rem;
          display: inline-block;
          background-color: $primary-color;
          position: absolute;
          top: 0;
        }
      }

      h2 {
        @include user-select-none;
        color: #0a489d;
        font-weight: 500;
        font-size: 2.1em;
        letter-spacing: 1.9rem;
        writing-mode: vertical-rl;
        position: absolute;
        top: 4rem;
        right: 6.5rem;
      }
      h2:last-child {
        right: 4.5rem;
        top: 6rem;
      }
    }
    .wrap:nth-child(2) {
      transform: scaleX(-1);

      .topline::before {
        display: none;
      }

      h2 {
        transform: scaleX(-1);
        top: 5rem;
        right: 4.5rem;
      }
      h2:last-child {
        top: 7rem;
        right: 6.5rem;
      }
    }
    .wrap:nth-child(3) {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;

      .topline::before {
        display: none;
      }

      .underline {
        width: 0;
        height: 0;

        &::before {
          width: 0;
          height: 0;
        }
      }
    }
  }
}
