@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css');
*{
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

/* 導覽列 */
.navbar {
  width: 1320px;
  height: 6rem;
  display: block;
  position: relative;
  padding-left: 5rem;
  margin: auto;
  z-index: 1;
}

.navbar-brand {
  display: inline-block;
  margin: 1rem 0 0 1.5rem;
  padding: 1.15rem 0 0;
}

.navbar-logo {
  width: 9rem;
}

.navbar-line {
  width: 10rem;
  margin-left: 1.5rem;
  border-top: 2px solid #000;
  opacity: .3;
}

.navbar-line::before {
  content: '';
  box-sizing: border-box;
  display: inline-block;
  transform: rotate(30deg);
  width: 2px;
  height: 43px;
  background: currentColor;
  border-radius: 3px;
  position: absolute;
  left: 17rem;
  bottom: 1rem;
}

.navbar-line::after {
  content: '';
  box-sizing: border-box;
  display: inline-block;
  width: 65%;
  height: 2px;
  background: currentColor;
  position: absolute;
  left: 17.7rem;
  bottom: 3.4rem;
}

#menu-control {
  position: absolute;
  top: 0;
  opacity: 0;
}

/* 768px以下裝置的選單控制 */
#menu-control:checked ~ .navbar-option {
  top: 10.5rem;
  opacity: 1;
}

/* 導覽列選項 */
.navbar-option {
  display: flex;
  justify-content: center;
  margin: -1.3rem 0 -1.3rem 2rem;
  padding-right: 5rem;
  position: relative;
}

.navbar-option li {
  position: relative;
}

.navbar-option li::before {
  content: '';
  display: inline-block;
  width: .45rem;
  height: .45rem;
  background-color: #000;
  opacity: .2;
  position: absolute;
  bottom: .1rem;
  left: .75rem;
}

.navbar-option li::after {
  content: '';
  display: inline-block;
  width: .45rem;
  height: .45rem;
  background-color: #000;
  opacity: .2;
  position: absolute;
  bottom: .1rem;
  right: .75rem;
}

.navbar-option li a {
  color: #343875;
  padding: 0 1rem;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  position: relative;
}

.navbar-option li a::before {
  content: '';
  display: inline-block;
  width: .25rem;
  height: .25rem;
  background-color: #000;
  opacity: .2;
  position: absolute;
  bottom: .1rem;
  left: 1.4rem;
}

.navbar-option li a::after {
  content: '';
  display: inline-block;
  width: .25rem;
  height: .25rem;
  background-color: #000;
  opacity: .2;
  position: absolute;
  bottom: .1rem;
  right: 1.4rem;
}

/* .navbar-option li a.active,
.navbar-option > a::after {
  color: #f00;
} */

.navbar-option li:hover::before,
.navbar-option li:hover::after,
.navbar-option li a:hover::before,
.navbar-option li a:hover::after {
  background-color: #029be2;
  opacity: .6;
}

.navbar .navbar-option li:nth-child(2):hover > .dropdown .subNavbar{
  display: inline-block;
}

/* 關於我們子標題 */
.navbar .navbar-option .dropdown {
  display: inline-block;
  z-index: 1;
}
.navbar .navbar-option .dropdown .subNavbar {
  width: 150px;
  height: 200px;
  display: none;
  text-align: center;
  background-color: #75c2d3;
  border-radius: 40px;
  position: absolute;
  top: 2.5rem;
  left: -1rem;
}

.navbar .navbar-option .dropdown .subNavbar::before {
  content: '';
  display: inline-block;
  width: 150px;
  height: 30px;
  position: absolute;
  top: -1rem;
  left: 0;
}

.navbar .navbar-option .dropdown .subNavbar li {
  margin-bottom: 1rem;
  padding-left: .5rem;
  transform: translateY(0px);
  transition: .3s;
  position: relative;
}

.navbar .navbar-option .dropdown .subNavbar li:first-child {
  margin-top: 1rem;
}

.navbar .navbar-option .dropdown .subNavbar li:hover {
  transform: translateY(-5px);
}
/* 插頭線身 */
.navbar .navbar-option .dropdown .subNavbar li::before {
  content: '';
  opacity: 1;
  border-bottom: 1px solid #172a88;
  position: absolute;
  left: 10%;
  right: 0;
  bottom: -5px;
  width: 0;
  height: 0;
  transition: .2s .25s;
}

.navbar .navbar-option .dropdown .subNavbar li:hover::before {
  left: 15%;
  right: 0;
  width: 70%;
  transition: .2s;
}
/* 插頭頭部 */
.navbar .navbar-option .dropdown .subNavbar li::after {
  content: '';
  width: 0;
  height: 10px;
  opacity: 1;
  background-color: #172a88;
  position: absolute;
  left: 85%;
  bottom: -10px;
  transition: .2s .1s;
}

.navbar .navbar-option .dropdown .subNavbar li:hover::after {
  width: 6px;
  transition: .2s .2s;
}

.navbar .navbar-option .dropdown .subNavbar li a {
  text-decoration: none;
  font-size: 1.2em;
  font-weight: normal;
  letter-spacing: .2em;
  color: #fff;
  position: relative;
  display: block;
}
/* 插頭黃色前端 */
.navbar .navbar-option .dropdown .subNavbar li a::before {
  content: '';
  width: 0;
  height: 1px;
  opacity: 1;
  background-color: yellow;
  position: absolute;
  bottom: -7px;
  left: 86%;
  transition: .2s;
  z-index: 1;
}

.navbar .navbar-option .dropdown .subNavbar li a:hover::before {
  width: 6px;
  transition: .2s .4s;
}

.navbar .navbar-option .dropdown .subNavbar li a::after {
  content: '';
  width: 0;
  height: 1px;
  opacity: 1;
  background-color: yellow;
  position: absolute;
  bottom: -3px;
  left: 86%;
  transition: .2s;
  z-index: 1;
}

.navbar .navbar-option .dropdown .subNavbar li a:hover::after {
  width: 6px;
  transition: .2s .4s;
}


/* 大圖開始 */
.container {
  padding-top: 4rem;
  margin: auto;
  width: 66rem;
}

.banner {
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  position: relative;
  background: linear-gradient(0deg, #0c3e4c, #195e8d,  #75bccd);
  z-index: -1;
}

.banner img {
  width: 25rem;
  z-index: 1;
  position: absolute;
  top: 0;
}

.banner .slash{
  width: 100%;
  position: relative;
  margin-bottom: 2rem;
}

.banner .slash::before{
  content: '';
  display: block;
  color: #93cddd;
  width: 1.5rem;
  border-bottom: 1px solid #93cddd;
  transform: rotate(110deg);
  position: absolute;
  right: 5rem;
  top: 1.6rem;
}

.banner .slash::after{
  content: '';
  display: block;
  color: #93cddd;
  width: 2.45rem;
  border-bottom: 1px solid #93cddd;
  transform: rotate(250deg);
  position: absolute;
  right: 3.85rem;
  top: 2rem;
}

.banner .slash h2{
  width: 80%;
  text-align: right;
  color: #fff;
  border-bottom: 1px solid #93cddd;
  padding: 0 1rem 0.3rem 0;
  position: absolute;
  right: 6rem;
}

.banner .slash h2::before{
  content: '';
  display: block;
  color: #93cddd;
  width: 0.9rem;
  border-bottom: 1px solid #93cddd;
  transform: rotate(110deg);
  position: absolute;
  right: -1.95rem;
  top: 2.7rem;
}

.banner .slash h2::after{
  content: '';
  display: block;
  color: #93cddd;
  width: 3rem;
  border-bottom: 1px solid #93cddd;
  position: absolute;
  right: -4.65rem;
  top: 2.3rem;
}



/* 解決方案 */
.container .banner .elevator {
  position: absolute;
  right: 7rem;
  bottom: 2rem;
}

.container .banner .elevator ul {
  font-weight: bold;
  line-height: 2;
}

.container .banner .elevator ul li a {
  text-decoration: none;
  color: #c26bff;
  cursor: pointer;
}

.container .banner .elevator ul li a::before {
  content: '∎';
  color: #5d157f;
  display: inline-block;
  width: .8rem;
  height: 0.8rem;
  font-size: .8em;
  transform: translateY(-2px);
}

/* 解決方案內容 */
.container .solution-img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-left: 5rem;
}

.container .solution-img:last-child {
  margin-bottom: 5rem;
}

.container .solution-img .blueImg {
  width: 30%;
}

.container .solution-img .wrap {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.container .solution-img .wrap .imgWrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 2rem;
}

.container .solution-img .wrap .imgWrap img {
  width: 120px;
  margin: 0 3rem 0 -3rem;
}

.container .solution-img .wrap .imgWrap p {
  width: 12.5rem;
  margin: 0 2rem 0 -2rem;
  line-height: 1.7;
  font-size: .9em;
  white-space: pre-line;
  color: #4b93a0;
}

.container .solution-img .wrap .imgWrap p::first-line {
  font-weight: bold;
  font-size: 1.1em;
}

.container .solution-img .wrap .threeImg {
  width: 700px;
  padding-bottom: 2.2rem;
}


/* 產品資訊 */
.container .industrialBattery-img {
  display: flex;
  width: 90%;
}

/* 工控電池 */
.container .hexegon {
  width: 12rem;
  margin: 0 .5rem 0 0;
  object-fit: contain;
}
.container .handheld {
  object-fit: contain;
  width: 75%;
}
.container p {
  width: 90%;
  letter-spacing: .4px;
  margin: 1.5rem auto 0;
}
.container p:last-child {
  margin-bottom: 5rem;
}

/* e-bike */
/* ESS儲能電池 */
.container .ebike-img,
.container .ESS-img {
  display: flex;
  justify-content: center;
  margin: auto;
}

/* 產品資訊表格 */
.container .table {
  width: 100%;
  cursor: default;
  text-align: left;
  display: block;
  margin: 3rem auto 0;
  overflow-x: auto;
}
.container .table table {
  line-height: 3;
  border-collapse: collapse;
  width: 100%;
}
.container .table thead th {
  background-color: #ddd;
  border: 1px solid #aaa;
  border-bottom: 2px solid #aaa;
}
.container .table th,
.container .table td {
  padding-left: 10px;
  border: 1px solid #ddd;
  padding-right: .7rem;
}

/* 內容 */
.content-title {
  height: 20vh;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-title .wrap {
  width: 90%;
  text-align: center;
}

.content-title .wrap h2{
  display: inline-block;
  color: #1017a9;
  position: relative;
  margin: 0 auto 2rem;
}

.content-title .wrap h2::before{
  content: '';
  display: block;
  border-bottom: 3px solid #a3defc;
  width: 10rem;
  position: absolute;
  bottom: 7px;
  right: -10.5rem;
}

.content-title .wrap h2::after{
  content: '';
  display: block;
  border-bottom: 3px solid #a3defc;
  width: 10rem;
  position: absolute;
  bottom: 7px;
  left: -10.5rem;
}


.content-title .wrap .decoraction {
  height: 20px;
  width: 100%;
  background-color: #88ddec;
  margin: 0 auto 2rem;
  position: relative;
}

.content-title .wrap .decoraction::before {
  content: '';
  background-color: #0bcf67;
  height: 20px;
  width: 13px;
  position: absolute;
  left: 15%;
}

.content-title .wrap .decoraction::after {
  content: '';
  background-color: #0bcf67;
  height: 20px;
  width: 13px;
  position: absolute;
  left: 85%;
  top: 0;
}

.content-title .wrap .decoraction .square {
  width: 100%;
  height: 20px;
}

.content-title .wrap .decoraction .square::before {
  content: '';
  display: block;
  background-color: #0bcf67;
  height: 20px;
  width: 13px;
  position: absolute;
  left: 5%;
}

.content-title .wrap .decoraction .square::after {
  content: '';
  display: block;
  background-color: #0bcf67;
  height: 20px;
  width: 13px;
  position: absolute;
  left: 95%;
}


/* 關於我們的內容 */
.content {
  display: flex;
}

.content .contentLeft-img {
  width: 10rem;
  height: 20rem;
  margin-left: 3.2rem;
}
.content .contentRight-img {
  height: 22rem;
  margin-left: 4rem;
}
.content p {
  width: 44rem;
  font-size: 1.2em;
  white-space: pre-line;
}
.content:last-child {
  margin-bottom: 5rem;
}


/* 頁尾 */
.footer {
  width: 1440px;
  height: 40vh;
  margin: auto;
  background: linear-gradient(140deg, transparent 110px, #88ddec 0);
  position: relative;
  color: #666;
}

.footer h2 {
  display: inline-block;
  font-size: 1.7em;
  font-weight: normal;
  position: absolute;
  top: 20%;
  left: 18%;
}

.footer .footer-wrap {
  width: 500px;
  display: inline-block;
  font-size: 1.2em;
  line-height: 2;
  position: absolute;
  top: 35%;
  left: 30%;
  margin: auto;
}

.footer .footer-wrap p {
  font-family: 'BankGothic Md BT';
}

.footer .footer-wrap p .fa {
  width: 2rem;
  padding-right: .5rem;
  text-align: center;
}

.footer a {
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: #666;
  position: absolute;
  bottom: 5px;
}

/* ********************************************************************************************************* */

/* RWD */
@media screen and (max-width: 1400px) {
  /* 導覽列 */
  .navbar {
    width: 62rem;
  }

  /* 大圖 */
  .container  {
    width: 62rem;
  }

  .banner .slash h2{
    width: 66%;
  }

  .container .solution-img .wrap .imgWrap p {
    font-size: .7em;
  }

  /* 頁尾 */
  .footer {
    width: 100%;
  }
}

@media screen and (max-width: 1320px) {
  /* 導覽列 */
  .navbar {
    width: 57rem;
  }
  
  .navbar-option li a{
    font-size: 1.4em;
  }

  /* 大圖 */
  .container  {
    width: 57rem;
  }
  
  .banner .slash h2{
    width: 63%;
  }
    

  /* 關於我們左圖 */
  .content .contentLeft-img {
    width: 9rem;
    height: 18rem;
    margin-left: 2.8rem;
  }
  .content .contentRight-img {
    height: 20rem;
    object-fit: contain;
  }
  .content p {
    width: 37rem;
  }
}

@media screen and (max-width: 1200px) {
  /* 導覽列 */
  .navbar {
    width: 48rem;
  }

  .navbar-option {
    margin: 0 0 0 10rem;
  }

  .navbar-option li a {
    font-size: 1.2em;
  }

  /* 大圖 */
  .container  {
    width: 48rem;
  }

  .banner .slash h2{
    width: 54%;
  }

  /* e-bike圖片 */
  .container .ebike-img,
  .container .ESS-img {
    width: 80%;
  }

  /* 產品資訊表格 */
  .container .table table{
    line-height: 2.5;
  }
  
  /* 關於我們左圖 */
  .content .contentLeft-img {
    width: 8.5rem;
    height: 17rem;
    margin-left: 2.4rem;
  }
  .content .contentRight-img {
    height: 15rem;
    margin-left: 2.8rem;
  }
  .content p {
    font-size: 1em;
    width: 30rem;
  }

  /* 頁尾 */
  .footer {
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  /* 導覽列 */
  .navbar {
    width: 100%;
  }

  .navbar-logo {
    width: 10rem;
  }

  .navbar-line {
    width: 10.5rem;
  }
  
  .navbar-line::before {
    width: 2px;
    height: 1.75rem;
    position: absolute;
    left: 12.4rem;
    bottom: 1.3rem;
  }
  
  .navbar-line::after {
    width: 60%;
    height: 2px;
    position: absolute;
    left: 12.9rem;
    bottom: 2.85rem;
  }

  .navbar-option {
    margin: 0 0 0 7rem;
  }

  .navbar-option li a {
    padding: 0 .75rem;
    font-size: 1.2em;
  }

  /* 大圖 */
  .container  {
    width: 100%;
  }

  .banner img {
    width: 18rem;
  }

  .banner .slash h2{
    width: 54%;
  }

  .container .banner .elevator {
    bottom: 2rem;
  }

  /* 產品資訊表格 */
  .container .table {
    width: 90%;
  }

  /* 關於我們左圖 */
  .content .contentLeft-img {
    width: 7.5rem;
    height: 15rem;
    margin-left: 2.4rem;
  }
  .content .contentRight-img {
    height: 12rem;
    width: auto;
    margin: 0 2.5rem;
  }
  .content p {
    margin-right: 2.5rem;
    width: 27rem;
  }

  /* 頁尾 */
  .footer {
    display: flex;
    flex-direction: column;
    text-align: justify;
  }

  .footer h2 {
    font-size: 1.5em;
    display: block;
  }

  .footer p {
    margin-left: 10rem;
    justify-content: start;
    text-align: left;
  }

}

@media screen and (max-width: 770px) {
  /* 導覽列 */
  .navbar {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.2);
    z-index: 1;
    position: fixed;
    top: 0;
  }

  .navbar-brand {
    margin: 1rem 0 0 1.5rem;
  }
  
  .navbar-logo {
    width: 9rem;
  }

  .navbar-line {
    width: 9.5rem;
    margin-left: 1.5rem;
    border-top: 1px solid #000;
    opacity: .3;
  }
  
  .navbar-line::before {
    width: 1px;
    height: 1.75rem;
    position: absolute;
    left: 11.45rem;
    bottom: 1.55rem;
  }
  
  .navbar-line::after {
    width: 50%;
    height: 1px;
    position: absolute;
    left: 11.925rem;
    bottom: 3.1rem;
  }

  /* 768px以下選單 */
  .menu-btn {
    width: 2.5rem;
    height: 2.5rem;
    background-color: #f7f7f7;
    border: 1px solid #aaa;
    border-radius: 5px;
    display: block;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    cursor: pointer;
  }
  
  .menu-btn span {
    opacity: 0;
    width: 1px;
    height: 1px;
    display: block;
    overflow: hidden;
  }
  
  .menu-btn::before {
    content: '';
    height: 3px;
    width: 1.8rem;
    position: absolute;
    left: 0.35rem;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: #000;
    box-shadow: 0 10px 0 #000,
                0 -10px 0 #000;
  }

  .navbar-option {
    width: 100%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    position: absolute;
    top: -17rem;
    opacity: 0;
    transition: .3s;
  }  

  .navbar-option li a {
    width: 100%;
    height: 3rem;
    display: block;
    background-color: #fff;
    line-height: 1.75;
    font-size: 1.5em;
    text-align: center;
    border-bottom: 1px solid #000;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.2);
  }

  
  /* 大圖 */
  .container  {
    padding: 6rem 0 0;
  }

  .banner img {
    width: 16rem;
  }
  
  .banner .slash{
    width: 100%;
    position: relative;
    margin-bottom: 2rem;
  }
  
  .banner .slash::before {
    width: 1.2rem;
    right: 5.2rem;
    top: 1.3rem;
  }

  .banner .slash::after {
    right: 3.95rem;
    top: 1.9rem;
  }

  .banner .slash h2{
    width: 52%;
    font-size: 1.2rem;
  }

  .banner .slash h2::before{
    right: -1.85rem;
    top: 2.66rem;
  }

  .banner .slash h2::after{
    right: -4.55rem;
    top: 2.2rem;
  }

  /* 產品資訊 */
  .container .hexegon {
    width: 9rem;
  }
      /* e-bike圖片 */
  .container .ebike-img,
  .container .ESS-img {
    width: 95%;
  }
      /* 產品資訊表格 */
  .container .table table{
    line-height: 2;
    font-size: 18px;
  }

  /* 關於我們左圖 */
  .content .contentLeft-img {
    width: 6.4rem;
    height: 12.8rem;
    margin-left: 1.8rem;
  }
  .content .contentRight-img {
    height: 12rem;
    width: auto;
    margin: 0 2rem;
  }
  .content p {
    width: 23rem;
  }

  /* 頁尾 */
  .footer {
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg, transparent 100px, #88ddec 0);
  }

  .footer h2,
  .footer p {
    margin-left: 7rem;
  }

  .footer h2 {
    font-size: 1.2rem;
  }

  .footer p {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 576px) {
  /* 導覽列 */
  .navbar {
    width: 100%;
  }

  .navbar-logo {
    width: 7rem;
  }

  .navbar-line {
    width: 8rem;
  }

  .navbar-line::before {
    height: 1.5rem;
    left: 9.9rem;
    bottom: 2.15rem;
  }

  .navbar-line::after {
    width: 45%;
    left: 10.35rem;
    bottom: 3.5rem;
  }

  .menu-btn {
    width: 2.2rem;
    height: 2.2rem;
    top: 1.2rem;
    right: 1.2rem;
  }
  .menu-btn::before {
    left: 0.2rem;
  }

  /* 大圖 */
  .container  {
    width: 100%;
  }

  .banner {
    height: 40vh;
  }

  .banner img {
    width: 13rem;
  }

  .banner .slash::before {
    width: 1rem;
    right: 5.3rem;
    top: 1.05rem;
  }

  .banner .slash::after {
    width: 2rem;
    right: 4.3rem;
    top: 1.55rem;
  }

  .banner .slash h2{
    font-size: .9em;
    width: 47%;
  }

  .banner .slash h2::before{
    right: -1.63rem;
    top: 2.06rem;
  }

  .banner .slash h2::after{
    right: -4.35rem;
    top: 1.65rem;
  }

  .container .banner .elevator {
    bottom: 1rem;
  }

  /* 解決方案 */  
  .container .banner .elevator ul {
    font-size: .5em;
  }
  
  .container .banner .elevator ul li{
    color: #c26bff;
  }

  .content-title .wrap h2{
    font-size: 1.3em;
  }

  .content-title .wrap .decoraction::before {
    width: 9px;
  }
  
  .content-title .wrap .decoraction::after {
    width: 9px;
    left: 83%;
  }
  
  .content-title .wrap .decoraction .square::before {
    width: 9px;
  }
  
  .content-title .wrap .decoraction .square::after {
    width: 9px;
    left: 93%;
  }

  /* 產品資訊 */
  .container .hexegon {
    width: 8rem;
  }
  
  .container .handheld {
    width: 70%;
  }
        /* 產品資訊表格 */
  .container .table table{
    font-size: 16px;
  }

  /* 關於我們左圖 */
  .content .contentLeft-img {
    width: 4.3rem;
    height: 8.6rem;
    margin-left: 1.3rem;
  }
  .content .contentRight-img {
    height: 9.5rem;
    margin: 0 1.2rem;
  }
  .content p {
    width: 18rem;
    font-size: .9em;
    margin-right: 1.8rem;
  }

  /* 頁尾 */
  .footer {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {

  .navbar-line::before {
    height: 1.5rem;
    left: 9.85rem;
    bottom: 2.08rem;
  }

  .navbar-line::after {
    width: 35%;
    left: 10.3rem;
    bottom: 3.4rem;
  }

  .menu-btn {
    width: 2.5rem;
    height: 2.5rem;
    top: 1.5rem;
    right: 1.5rem;
  }

  .menu-btn::before {
    width: 1.5rem;
    left: 0.5rem;
  }

  .banner {
    height: 35vh;
  }

  .banner img {
    width: 11rem;
  }

  .banner .slash::before {
    right: 4.35rem;
    top: 1.08rem;
  }

  .banner .slash::after {
    right: 3.35rem;
  }

  .banner .slash h2{
    width: 40%;
    right: 5rem;
  }

  .banner .slash h2::before {
    right: -1.6rem;
  }

  .banner .slash h2::after {
    right: -4.28rem;
  }

  .container .banner .elevator {
    right: 6.2rem;
  }

  .container .banner .elevator ul {
    line-height: 1.7;
  }

  /* 產品資訊 */
  .container .hexegon {
    width: 7rem;
  }
      /* 產品資訊表格 */
  .container .table table{
    font-size: 14px;
  }

  /* 關於我們左圖 */
  .content .contentLeft-img {
    width: 3.5rem;
    height: 7rem;
  }
  .content .contentRight-img {
    height: 8rem;
    margin: 0 1rem;
  }
  .content p {
    width: 15rem;
    margin-right: 1.5rem;
  }

  /* 頁尾 */
  .footer {
    height: 30vh;
    margin: 15% 0 0;
    background: linear-gradient(135deg, transparent 50px, #88ddec 0);
  }
  
  .footer h2 {
    margin: 2rem 0 0 4rem;
  }
  
  .footer p {
    font-size: 12px;
    line-height: 1.5;
    margin-left: 4rem;
  }

}