@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css');
*{
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

/* 導覽列 */
.navbar {
  max-width: 66rem;
  height: 6rem;
  display: block;
  margin-right: 5rem;
  position: relative;
  margin: auto;
  z-index: 1;
}

.navbar .navbar-brand {
  display: inline-block;
  margin: 1rem 0 0 1.5rem;
  padding: 1.15rem 0 0;
}

.navbar .navbar-logo {
  width: 9rem;
}

.navbar .navbar-line {
  width: 10rem;
  margin-left: 1.5rem;
  border-top: 2px solid #000;
  opacity: .3;
}

.navbar .navbar-line::before {
  content: '';
  box-sizing: border-box;
  display: inline-block;
  transform: rotate(30deg);
  width: 2px;
  height: 43px;
  background: currentColor;
  border-radius: 3px;
  position: absolute;
  left: 12rem;
  bottom: 1rem;
}

.navbar .navbar-line::after {
  content: '';
  box-sizing: border-box;
  display: inline-block;
  width: 80%;
  height: 2px;
  background: currentColor;
  position: absolute;
  left: 12.7rem;
  bottom: 3.4rem;
}

.navbar #menu-control {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

/* 導覽列選項 */
.navbar .navbar-option {
  display: flex;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 60%;
}

.navbar .navbar-option li {
  position: relative;
}

.navbar .navbar-option li::before {
  content: '';
  display: inline-block;
  width: .45rem;
  height: .45rem;
  background: #000;
  z-index: 1;
  opacity: .2;
  position: absolute;
  bottom: .1rem;
  left: 1.2rem;
}

.navbar .navbar-option li::after {
  content: '';
  display: inline-block;
  width: .45rem;
  height: .45rem;
  background: #000;
  opacity: .2;
  position: absolute;
  bottom: .1rem;
  right: 1.2rem;
}

.navbar .navbar-option li a {
  color: #343875;
  padding: 0 1.7rem;
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  position: relative;
  letter-spacing: .2rem;
}

.navbar .navbar-option li a::before {
  content: '';
  display: inline-block;
  width: .25rem;
  height: .25rem;
  background: #000;
  opacity: .2;
  position: absolute;
  bottom: .1rem;
  left: 2rem;
}

.navbar .navbar-option li a::after {
  content: '';
  display: inline-block;
  width: .25rem;
  height: .25rem;
  background: #000;
  opacity: .2;
  position: absolute;
  bottom: .1rem;
  right: 2rem;
}

.navbar .navbar-option li:hover::before,
.navbar .navbar-option li:hover::after,
.navbar .navbar-option li a:hover::before,
.navbar .navbar-option li a:hover::after {
  background: #029be2;
  opacity: .6;
}

.navbar .navbar-option li:hover > .dropdown .subNavbar{
  display: inline-block;
}

/* 關於我們子標題 */
.navbar .navbar-option .dropdown {
  display: inline-block;
  z-index: 1;
}
.navbar .navbar-option li .dropdown .subNavbar {
  width: 100px;
  display: none;
  text-align: center;
  background: #75c2d3;
  border-radius: 20px;
  position: absolute;
  top: 2rem;
  left: .8rem;
}

.navbar .navbar-option .dropdown .subNavbar::before {
  content: '';
  display: inline-block;
  width: 100px;
  height: 20px;
  position: absolute;
  top: -.8rem;
  left: 0;
}

.navbar .navbar-option .dropdown .subNavbar li {
  position: relative;
  margin-bottom: 1rem;
  transform: translateY(0);
  transition: .3s;
}

.navbar .navbar-option .dropdown .subNavbar li:first-child {
  margin-top: 1rem;
}

.navbar .navbar-option .dropdown .subNavbar li:hover {
  transform: translateY(-5px);
}
/* 插頭線身 */
.navbar .navbar-option .dropdown .subNavbar li::before {
  content: '';
  width: 0;
  height: 0;
  opacity: 1;
  border-bottom: 1px solid #172a88;
  position: absolute;
  left: 10%;
  right: 0;
  bottom: -5px;
  transition: .2s .25s;
}

.navbar .navbar-option .dropdown .subNavbar li:hover::before {
  left: 15%;
  right: 0;
  width: 70%;
  transition: .2s;
}
/* 插頭頭部 */
.navbar .navbar-option .dropdown .subNavbar li::after {
  content: '';
  width: 0;
  height: 10px;
  opacity: 1;
  background: #172a88;
  position: absolute;
  left: 85%;
  bottom: -10px;
  transition: .2s .1s;
}

.navbar .navbar-option .dropdown .subNavbar li:hover::after {
  width: 6px;
  transition: .2s .2s;
}

.navbar .navbar-option .dropdown .subNavbar li a {
  width: 100%;
  padding: 0 0 0 4px;
  text-decoration: none;
  font-size: .8em;
  font-weight: 500;
  letter-spacing: .4em;
  color: #fff;
  position: relative;
  display: block;
}
/* 插頭黃色前端 */
.navbar .navbar-option .dropdown .subNavbar li a::before {
  content: '';
  width: 0;
  height: 1px;
  opacity: 1;
  background: yellow;
  position: absolute;
  bottom: -7px;
  left: 86%;
  transition: .2s;
  z-index: 1;
}

.navbar .navbar-option .dropdown .subNavbar li a:hover::before {
  width: 6px;
  transition: .2s .4s;
}

.navbar .navbar-option .dropdown .subNavbar li a::after {
  content: '';
  width: 0;
  height: 1px;
  opacity: 1;
  background: yellow;
  position: absolute;
  bottom: -3px;
  left: 86%;
  transition: .2s;
  z-index: 1;
}

.navbar .navbar-option .dropdown .subNavbar li a:hover::after {
  width: 6px;
  transition: .2s .4s;
}


/* 橫幅開始 */
.container {
  padding-top: 4rem;
  margin: auto;
  max-width: 66rem;
}

.container .banner {
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  position: relative;
  background: linear-gradient(0deg, #0c3e4c, #195e8d,  #75bccd);
  z-index: -1;
}

.container .banner img {
  width: 25rem;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.container .banner .slash{
  width: 100%;
  position: relative;
  margin-bottom: 2rem;
}

.container .banner .slash::before{
  content: '';
  display: block;
  color: #93cddd;
  width: 1.5rem;
  border-bottom: 1px solid #93cddd;
  transform: rotate(110deg);
  position: absolute;
  right: 5rem;
  top: 2.3rem;
}

.container .banner .slash::after{
  content: '';
  display: block;
  color: #93cddd;
  width: 2.45rem;
  border-bottom: 1px solid #93cddd;
  transform: rotate(250deg);
  position: absolute;
  right: 3.85rem;
  top: 2.8rem;
}

.container .banner .slash h2{
  width: 80%;
  font-weight: normal;
  font-size: 2em;
  letter-spacing: .5rem;
  text-align: right;
  color: #fff;
  border-bottom: 1px solid #93cddd;
  padding: 0 1rem 0.3rem 0;
  position: absolute;
  right: 6rem;
}

.container .banner .slash h2::before{
  content: '';
  display: block;
  color: #93cddd;
  width: 0.9rem;
  border-bottom: 1px solid #93cddd;
  transform: rotate(110deg);
  position: absolute;
  right: -1.9rem;
  top: 3.5rem;
}

.container .banner .slash h2::after{
  content: '';
  display: block;
  color: #93cddd;
  width: 3rem;
  border-bottom: 1px solid #93cddd;
  position: absolute;
  right: -4.65rem;
  top: 3.1rem;
}

/* 解決方案內容 */
.container .solution-img {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-left: 2rem;
}

.container .solution-img:last-child {
  margin-bottom: 5rem;
}

.container .solution-img .blueImg {
  width: 30%;
}

.container .solution-img .wrap {
  max-width: 70%;
  display: flex;
  flex-direction: column;
}

.container .solution-img .wrap .imgWrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 2rem;
}

.container .solution-img .wrap .imgWrap img {
  width: 120px;
  height: 166px;
  margin: 0 3rem 0 -3rem;
  object-fit: contain;
}

.container .solution-img .wrap .imgWrap p {
  width: 12.5rem;
  margin: 0 2rem 0 -2rem;
  line-height: 1.7;
  font-size: .9em;
  white-space: pre-line;
  color: #4b93a0;
}

.container .solution-img .wrap .imgWrap p::first-line {
  font-weight: bold;
  font-size: 1.1em;
}

.container .solution-img .wrap .threeImg {
  /* height: 5rem; */
  padding-bottom: 2.2rem;
}


/* 產品資訊 */
.container .industrialBattery-img {
  display: flex;
  width: 90%;
}

/* 工控電池 */
.container .hexegon {
  width: 12rem;
  margin: 0 .5rem 0 0;
  object-fit: contain;
}
.container .handheld {
  object-fit: contain;
  width: 75%;
}
.container p {
  width: 90%;
  letter-spacing: .4px;
  margin: 1.5rem auto 0;
}
.container p:last-child {
  margin-bottom: 5rem;
}

/* e-bike */
/* ESS儲能電池 */
.container .ebike-img,
.container .ESS-img {
  display: flex;
  justify-content: center;
  margin: auto;
}

/* 產品資訊表格 */
.container .table {
  width: 100%;
  cursor: default;
  text-align: left;
  display: block;
  margin: 3rem auto 0;
  overflow-x: auto;
}
.container .table table {
  line-height: 3;
  border-collapse: collapse;
  width: 100%;
}
.container .table thead th {
  background: #ddd;
  border: 1px solid #aaa;
  border-bottom: 2px solid #aaa;
}
.container .table th,
.container .table td {
  padding-left: 10px;
  border: 1px solid #ddd;
  padding-right: .7rem;
}

/* 內容 */
.content-title {
  height: 20vh;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-title .wrap {
  width: 90%;
  text-align: center;
}

.content-title .wrap h2{
  display: inline-block;
  color: #1017a9;
  position: relative;
  margin: 0 auto 2rem;
  font-weight: 500;
}

.content-title .wrap h2::before{
  content: '';
  display: block;
  border-bottom: 3px solid #a3defc;
  width: 10rem;
  position: absolute;
  bottom: 7px;
  right: -10.5rem;
}

.content-title .wrap h2::after{
  content: '';
  display: block;
  border-bottom: 3px solid #a3defc;
  width: 10rem;
  position: absolute;
  bottom: 7px;
  left: -10.5rem;
}


.content-title .wrap .decoraction {
  height: 10px;
  width: 100%;
  background: #88ddec;
  margin: 0 auto 2rem;
  position: relative;
}

.content-title .wrap .decoraction::before {
  content: '';
  background: #0bcf67;
  height: 10px;
  width: 8px;
  position: absolute;
  left: 15%;
}

.content-title .wrap .decoraction::after {
  content: '';
  background: #0bcf67;
  height: 10px;
  width: 8px;
  position: absolute;
  left: 85%;
  top: 0;
}

.content-title .wrap .decoraction .square {
  width: 100%;
  height: 20px;
}

.content-title .wrap .decoraction .square::before {
  content: '';
  display: block;
  background: #0bcf67;
  height: 10px;
  width: 8px;
  position: absolute;
  left: 5%;
}

.content-title .wrap .decoraction .square::after {
  content: '';
  display: block;
  background: #0bcf67;
  height: 10px;
  width: 8px;
  position: absolute;
  left: 95%;
}


/* 關於我們的內容 */
.content {
  display: flex;
}
/* .content:first-child .contentRight-img {
  width: 0;
  margin: 0;
} */

.content .contentLeft-img {
  width: 10rem;
  height: 20rem;
  margin-left: 3.2rem;
}

.content .contentRight-img {
  height: 22rem;
  margin-left: 4rem;
}

.content p {
  width: 44rem;
  font-size: 1.2em;
  white-space: pre-line;
  margin: 0 auto;
}

.content:last-child {
  margin-bottom: 5rem;
}


/* 頁尾 */
.footer {
  width: 1400px;
  height: 40vh;
  margin: auto;
  background: linear-gradient(140deg, transparent 110px, #88ddec 0);
  position: relative;
  color: #666;
}

.footer h2 {
  display: inline-block;
  font-size: 1.7em;
  font-weight: normal;
  position: absolute;
  top: 20%;
  left: 18%;
}

.footer .footer-wrap {
  width: 500px;
  display: inline-block;
  font-size: 1.2em;
  line-height: 2;
  position: absolute;
  top: 35%;
  left: 30%;
  margin: auto;
}

.footer .footer-wrap p {
  font-family: 'BankGothic Md BT';
}

.footer .footer-wrap p .fa {
  width: 2rem;
  padding-right: .5rem;
  text-align: center;
}

.footer a {
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: #666;
  position: absolute;
  bottom: 5px;
}

/* ********************************************************************************************************* */

/* RWD */
@media screen and (max-width: 1400px) {
  /* 橫幅 */
  .container  {
    width: 62rem;
  }

  .container .banner .slash h2{
    width: 66%;
  }

  .container .solution-img .wrap .imgWrap p {
    font-size: .7em;
  }
}

@media screen and (max-width: 1320px) {
  /* 橫幅 */
  .container  {
    width: 57rem;
  }
  
  .container .banner .slash h2{
    width: 63%;
  }
    
  /* 關於我們左圖 */
  .container .content .contentLeft-img {
    width: 9rem;
    height: 18rem;
    margin-left: 2.8rem;
  }
  .container .content .contentRight-img {
    width: auto;
    max-height: 20rem;
    object-fit: contain;
  }
  .container .content p {
    width: 37rem;
  }
}

@media screen and (max-width: 1200px) {
  /* 導覽列 */
  /* .navbar {
    width: 100%;
  } */

  /* .navbar .navbar-line::after {
    width: 60%;
  } */

  /* e-bike圖片 */
  .container .ebike-img,
  .container .ESS-img {
    width: 80%;
  }

  /* 產品資訊表格 */
  .container .table table{
    line-height: 2.5;
  }
  
  /* 關於我們左圖 */
  .content .contentLeft-img {
    width: 8.5rem;
    height: 17rem;
    margin-left: 2.4rem;
  }
  .container .content .contentRight-img {
    height: 16rem;
    margin-left: 2.8rem;
  }
  .container .content p {
    font-size: 1em;
    width: 30rem;
  }

  /* 頁尾 */
  .footer {
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  /* 導覽列 */
  .navbar .navbar-line {
    width: 10rem;
  }
  .navbar .navbar-line::before {
    height: 3rem;
    left: 12.2rem;
    bottom: 1rem;
  }
  .navbar .navbar-line::after {
    width: 70%;
    left: 12.9rem;
    bottom: 3.7rem;
  }

  .navbar .navbar-option {
    left: 7rem;
  }

  .navbar .navbar-option li a {
    padding: 0 .7rem;
    letter-spacing: .1rem;
    font-size: 1.2em;
  }

  /* 橫幅 */
  .container  {
    width: 100%;
  }

  /* 產品資訊表格 */
  .container .table {
    width: 90%;
  }

  /* 關於我們左圖 */
  .container .content .contentLeft-img {
    width: 7.5rem;
    height: 15rem;
    margin-left: 2.4rem;
  }
  .container .content .contentRight-img {
    height: 21rem;
    margin: 0 2.5rem;
  }
  .container .content p {
    width: 35rem;
    margin: 0 auto;
  }
}

@media screen and (max-width: 770px) {
  /* 導覽列 */
  .navbar {
    max-width: 100%;
    width: 100%;
    padding: 0;
    background: #fff;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.2);
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
  }

  .navbar .navbar-brand {
    margin-top: 10px;
  }
  
  .navbar .navbar-logo {
    width: 11rem;
  }

  .navbar .navbar-line {
    width: 11.5rem;
    margin-bottom: 1rem;
    border-top: 2px solid #000;
    opacity: .3;
  }
  
  .navbar .navbar-line::before {
    width: 2px;
    height: 2.5rem;
    position: absolute;
    left: 13.5rem;
    bottom: .9rem;
  }
  
  .navbar .navbar-line::after {
    width: 55%;
    height: 2px;
    position: absolute;
    left: 14.2rem;
    bottom: 3.1rem;
  }

  /* 768px以下選單 */
  .navbar .dropMenu {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
  }

  .navbar .dropMenu .menu-btn {
    width: 2.5rem;
    height: 2.5rem;
    background: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    display: block;
    cursor: pointer;
    box-shadow: 0 0 4px rgba(0, 0, 0, .5);
  }
  .navbar .dropMenu .menu-btn::before {
    content: '';
    height: 3px;
    width: 1.8rem;
    position: absolute;
    left: 0.4rem;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #000;
    box-shadow: 0 10px 0 #000,
                0 -10px 0 #000;
  }
  
  .navbar .dropMenu .menu-btn span {
    opacity: 0;
    width: 1px;
    height: 1px;
    display: block;
    overflow: hidden;
  }
  /* 選單顯示 */
  .navbar #menu-control:checked ~ .navbar-option {
    top: 6rem;
    opacity: 1;
  }
  .navbar #menu-control:checked ~ .navbar-option li a {
    height: 3.5rem;
    background: #fff;
    color: #343875;
  }

  /* 選單隱藏 */
  .navbar .navbar-option {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    position: absolute;
    top: -25rem;
    left: 0;
    opacity: 0;
    transition: .3s;
  }
  .navbar .navbar-option li {
    position: relative;
  }
  /* 藍色大方塊 */
  .navbar .navbar-option li::before {
    z-index: 1;
    width: .6rem;
    height: .6rem;
    bottom: 1.2rem;
    left: 42.5%;
  }
  .navbar .navbar-option li::after {
    width: .6rem;
    height: .6rem;
    bottom: 1.2rem;
    right: 39.5%;
  }
  .navbar .navbar-option li:first-child {
    margin-left: 0;
  }

  .navbar .navbar-option li a {
    width: 100%;
    height: 0;
    display: block;
    color: transparent;
    background: transparent;
    font-size: 1.6em;
    text-align: center;
    line-height: 2;
    transition: .3s;
  }
  .navbar .navbar-option li a:last-child {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
  }
  /* 藍色小方塊 */
  .navbar .navbar-option li a::before {
    width: 0.4rem;
    height: 0.4rem;
    bottom: 1.1rem;
    left: 43.5%;
  }
  .navbar .navbar-option li a::after {
    width: 0.4rem;
    height: 0.4rem;
    bottom: 1.1rem;
    right: 43.5%;
  }

  .navbar .navbar-option li .dropdown {
    display: none;
  }

  /* 橫幅 */
  .container  {
    padding: 6rem 0 0;
  }

  .container .banner img {
    width: 23rem;
  }
  
  .container .banner .slash{
    width: 100%;
    position: relative;
    margin-bottom: 2rem;
  }
  .container .banner .slash::before {
    width: 1.2rem;
    right: 5.2rem;
    top: 1.4rem;
  }
  .container .banner .slash::after {
    right: 3.95rem;
    top: 1.9rem;
  }

  .container .banner .slash h2{
    width: 60%;
    font-size: 1.2rem;
  }
  .container .banner .slash h2::before{
    right: -1.85rem;
    top: 2.66rem;
  }
  .container .banner .slash h2::after{
    right: -4.55rem;
    top: 2.2rem;
  }

  /* 產品資訊 */
  .container .industrialBattery-img .hexegon {
    width: 11rem;
  }
      /* e-bike圖片 */
  .container .ebike-img,
  .container .ESS-img {
    width: 95%;
  }
      /* 產品資訊表格 */
  .container .table table{
    line-height: 2;
    font-size: 18px;
  }

  /* 關於我們左圖 */
  .container .content .contentLeft-img {
    width: 6.4rem;
    height: 12.8rem;
    margin-left: 1.8rem;
  }
  .container .content .contentRight-img {
    height: 16rem;
    margin: 0 2rem;
  }
  .container .content p {
    width: 23rem;
  }

  /* 頁尾 */
  .footer {
    background: linear-gradient(140deg, transparent 90px, #88ddec 0);
  }

  .footer .footer-wrap {
    left: 18%;
  }
}

@media screen and (max-width: 576px) {
  /* 導覽列 */
  .navbar .navbar-brand .navbar-logo {
    width: 9rem;
  }
  
  .navbar .navbar-line {
    width: 9.5rem;
  }
  .navbar .navbar-line::before {
    height: 2rem;
    left: 11.4rem;
    bottom: 1.35rem;
  }
  .navbar .navbar-line::after {
    width: 45%;
    left: 11.9rem;
    bottom: 3.1rem;
  }
  /* 藍色大方塊 */
  .navbar .navbar-option li::before {
    left: 41%;
  }
  .navbar .navbar-option li::after {
    right: 37.5%;
  }
  .navbar .navbar-option li a::before {
    left: 42%;
  }
  .navbar .navbar-option li a::after {
    right: 42.5%;
  }

  /* 橫幅 */
  .container  {
    width: 100%;
  }

  .container .banner {
    height: 35vh;
  }

  .container .banner img {
    width: 15rem;
  }

  .container .banner .slash::before {
    width: 1.1rem;
    right: 5.3rem;
    top: 1.1rem;
  }
  .container .banner .slash::after {
    width: 2rem;
    right: 4.3rem;
    top: 1.55rem;
  }

  .container .banner .slash h2{
    font-size: 1em;
  }
  .container .banner .slash h2::before{
    right: -1.63rem;
    top: 2.06rem;
  }
  .container .banner .slash h2::after{
    right: -4.35rem;
    top: 1.65rem;
  }

  .content-title .wrap h2{
    font-size: 1.3em;
  }
  .content-title .wrap .decoraction::before {
    width: 9px;
  }

  .content-title .wrap .decoraction::after {
    width: 9px;
    left: 83%;
  }
  
  .content-title .wrap .decoraction .square::before {
    width: 9px;
  }
  
  .content-title .wrap .decoraction .square::after {
    width: 9px;
    left: 93%;
  }

  /* 產品資訊 */
  .container .industrialBattery-img .hexegon {
    width: 9rem;
  }
  
  .container .handheld {
    width: 70%;
  }
        /* 產品資訊表格 */
  .container .table table{
    font-size: 16px;
  }

  /* 關於我們左圖 */
  .container .content .contentLeft-img {
    width: 4.3rem;
    height: 8.6rem;
    margin-left: 1.3rem;
  }
  .container .content .contentRight-img {
    height: 9.5rem;
    /* margin: 0 1.2rem; */
  }
  .container .content p {
    width: 18rem;
    font-size: .9em;
    margin-right: 1.8rem;
  }

  /* 頁尾 */
  .footer h2 {
    font-size: 1.5em;
  }

  .footer .footer-wrap {
    font-size: 1em;
  }
}

@media screen and (max-width: 400px) {
  .navbar .navbar-brand .navbar-logo {
    width: 7rem;
  }

  .navbar .navbar-line {
    width: 7.5rem;
  }
  .navbar .navbar-line::before {
    height: 1.5rem;
    left: 9.3rem;
    bottom: 2rem;
  }
  .navbar .navbar-line::after {
    width: 40%;
    left: 9.7rem;
    bottom: 3.3rem;
  }

  .navbar .dropMenu {
    top: 1.3rem;
  }

  .navbar .dropMenu .menu-btn::before {
    width: 1.5rem;
    left: 0.5rem;
  }

  /* 藍色大方塊 */
  .navbar .navbar-option li::before {
    left: 38%;
  }
  .navbar .navbar-option li::after {
    right: 32.5%;
  }
  .navbar .navbar-option li a::before {
    left: 40%;
  }
  .navbar .navbar-option li a::after {
    right: 40.5%;
  }

  /* 橫幅 */
  .container .banner img {
    width: 11rem;
  }

  .container .banner .slash::before {
    right: 4.35rem;
    top: 1.08rem;
  }

  .container .banner .slash::after {
    right: 3.35rem;
  }

  .container .banner .slash h2{
    right: 5rem;
    letter-spacing: .3rem;
    padding-right: .7rem;
  }

  .container .banner .slash h2::before {
    right: -1.6rem;
  }

  .container .banner .slash h2::after {
    right: -4.28rem;
  }

  /* 產品資訊 */
  .container .industrialBattery-img .hexegon {
    width: 7rem;
  }
      /* 產品資訊表格 */
  .container .table table{
    font-size: 14px;
  }

  /* 關於我們左圖 */
  .container .content .contentLeft-img {
    width: 3.5rem;
    height: 7rem;
  }
  .container .content .contentRight-img {
    height: 8rem;
    margin: 0 1rem;
  }
  .container .content p {
    width: 15rem;
    margin-right: 1.5rem;
  }

  /* 頁尾 */
  .footer {
    height: 30vh;
    margin: 15% 0 0;
    background: linear-gradient(135deg, transparent 50px, #88ddec 0);
  }
  
  .footer h2 {
    font-size: 1.2em;
    padding-left: .5rem;
  }
  
  .footer .footer-wrap {
    font-size: 0.7em;
  }

  .footer a {
    font-size: 0.5em;
  }

}