@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");

@mixin desktop {
  @media (max-width: 1200px) {
    @content;
  }
}
@mixin pad {
  @media (max-width: 992px) {
    @content;
  }
}
@mixin mini-pad {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: 576px) {
    @content;
  }
}
@mixin mini-mobile {
  @media (max-width: 400px) {
    @content;
  }
}

.container {
  .maintenance-management-content {
    width: 100%;
    height: auto;
    margin: auto;

    .contentWrap {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .subTitle {
        width: 100%;
        height: auto;
        padding: 2rem 0;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
          width: 100%;
          margin-bottom: 3rem;
          text-align: center;
          font-size: 2em;
          @include mini-pad {
            margin-bottom: 2em;
            font-size: 1.4em;
          }
        }

        p {
          width: 80%;
          margin: 1rem auto;
          font-size: 1.7em;
          @include mini-pad {
            font-size: 1.1em;
          }
        }
      }

      img {
        width: 80%;
        object-fit: contain;
        margin: 0 auto 7rem;
        @include pad {
          width: 100%;
        }
        @include mobile {
          margin-bottom: 3rem;
        }
      }
    }
  }
}
