@mixin desktop {
  @media (max-width: 1200px) {
    @content;
  }
}
@mixin pad {
  @media (max-width: 992px) {
    @content;
  }
}
@mixin mini-pad {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: 576px) {
    @content;
  }
}

.navbar {
  width: 66rem;
  height: 6rem;
  position: relative;
  display: block;
  margin: auto;
  z-index: 1;

  @include desktop {
    // width: 100%;
  }
  @include pad {
    width: 100%;
  }
  @include mini-pad {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    position: fixed;
    top: 0;
  }
  @include mobile {
    width: 100%;
  }

  .navbar-brand {
    display: inline-block;
    margin: 1rem 0 0 1.5rem;
    padding: 1.15rem 0 0;
    @include mini-pad {
      margin: 1rem 0 0 1.5rem;
    }

    .navbar-logo {
      width: 9rem;
      @include pad {
        width: 10rem;
      }
      @include mini-pad {
        width: 9rem;
      }
      @include mobile {
        width: 7rem;
      }
    }
  }

  .navbar-line {
    width: 10rem;
    margin-left: 1.5rem;
    border-top: 2px solid #000;
    opacity: 0.3;
    @include pad {
      width: 10.5em;
    }
    @include mini-pad {
      width: 9.5rem;
      margin-left: 1.5rem;
      border-top: 1px solid #000;
      opacity: 0.3;
    }
    @include mobile {
      width: 8rem;
    }

    &::before {
      content: "";
      box-sizing: border-box;
      display: inline-block;
      transform: rotate(30deg);
      width: 2px;
      height: 43px;
      background: currentColor;
      border-radius: 3px;
      position: absolute;
      left: 12rem;
      bottom: 1rem;
      @include pad {
        width: 2px;
        height: 1.75rem;
        position: absolute;
        left: 12.4rem;
        bottom: 1.3rem;
      }
      @include mini-pad {
        width: 1px;
        height: 1.75rem;
        position: absolute;
        left: 11.45rem;
        bottom: 1.55rem;
      }
      @include mobile {
        height: 1.5rem;
        left: 9.9rem;
        bottom: 2.15rem;
      }
    }
    &::after {
      content: "";
      box-sizing: border-box;
      display: block;
      width: 65%;
      height: 2px;
      background: currentColor;
      position: absolute;
      left: 12.5rem;
      bottom: 2.9rem;
      @include pad {
        width: 60%;
        height: 2px;
        position: absolute;
        left: 12.9rem;
        bottom: 2.85rem;
      }
      @include mini-pad {
        width: 50%;
        height: 1px;
        position: absolute;
        left: 11.925rem;
        bottom: 3.1rem;
      }
      @include mobile {
        width: 45%;
        left: 10.35rem;
        bottom: 3.5rem;
      }
    }
  }
  @include mobile {
    .menu-btn {
      width: 2.2rem;
      height: 2.2rem;
      top: 1.2rem;
      right: 1.2rem;

      &::before {
        left: 0.2rem;
      }
    }
  }

  #menu-control {
    position: absolute;
    top: 0;
    opacity: 0;

    /* 768px以下裝置的選單控制 */
    :checked ~ .navbar-option {
      top: 6rem;
      opacity: 1;
    }
  }

  @include mini-pad {
    .menu-btn {
      width: 2.5rem;
      height: 2.5rem;
      background-color: #f7f7f7;
      border: 1px solid #aaa;
      border-radius: 5px;
      display: block;
      position: absolute;
      top: 1.5rem;
      right: 1.5rem;
      cursor: pointer;

      &::before {
        content: "";
        height: 3px;
        width: 1.8rem;
        position: absolute;
        left: 0.35rem;
        top: 0;
        bottom: 0;
        margin: auto;
        background-color: #000;
        box-shadow: 0 10px 0 #000, 0 -10px 0 #000;
      }

      span {
        opacity: 0;
        width: 1px;
        height: 1px;
        display: block;
        overflow: hidden;
      }
    }
  }

  /* 導覽列選項 */
  .navbar-option {
    display: flex;
    justify-content: center;
    margin: -1.3rem 0 -1.3rem 2rem;
    @include desktop {
      // margin: 0 0 0 10rem;
    }
    @include pad {
      padding: 0 0.75rem;
      font-size: 1.2em;
    }
    @include mini-pad {
      width: 100%;
      height: 25vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 auto;
      position: absolute;
      top: -17rem;
      opacity: 0;
      transition: 0.3s;
    }

    li {
      position: relative;

      &::before {
        content: "";
        display: inline-block;
        width: 0.45rem;
        height: 0.45rem;
        background-color: #000;
        opacity: 0.2;
        position: absolute;
        bottom: 0.1rem;
        left: 0.75rem;
      }
      &::after {
        content: "";
        display: inline-block;
        width: 0.45rem;
        height: 0.45rem;
        background-color: #000;
        opacity: 0.2;
        position: absolute;
        bottom: 0.1rem;
        right: 0.75rem;
      }

      a {
        color: #343875;
        padding: 0 1rem;
        font-size: 1em;
        font-weight: bold;
        text-decoration: none;
        text-shadow: 2px 1px #ccc;
        position: relative;
        @include pad {
          font-size: 0.8em;
        }
        @include mini-pad {
          width: 100%;
          height: 3rem;
          display: block;
          background-color: #fff;
          line-height: 1.75;
          font-size: 1.5em;
          text-align: center;
          border-bottom: 1px solid #000;
          box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
        }

        &::before {
          content: "";
          display: inline-block;
          width: 0.25rem;
          height: 0.25rem;
          background-color: #000;
          opacity: 0.2;
          position: absolute;
          bottom: 0.1rem;
          left: 1.4rem;
        }
        &::after {
          content: "";
          display: inline-block;
          width: 0.25rem;
          height: 0.25rem;
          background-color: #000;
          opacity: 0.2;
          position: absolute;
          bottom: 0.1rem;
          right: 1.4rem;
        }
      }

      &:hover::before,
      &:hover::after,
      a:hover::before,
      a:hover::after {
        background-color: #029be2;
        opacity: 0.6;
      }
      &:nth-child(2):hover > .dropdown .subNavbar {
        display: block;
      }
    } //li

    .dropdown {
      position: relative;
      display: inline-block;
      z-index: 1;

      .subNavbar {
        width: 150px;
        height: 220px;
        display: none;
        text-align: center;
        background-color: #75c2d3;
        border-radius: 40px;
        position: absolute;
        top: 0.2rem;
        left: -6.8rem;

        li {
          margin-bottom: 1rem;
          padding-left: 0.5rem;
          transform: translateY(0px);
          transition: 0.3s;
          position: relative;

          &:first-child {
            margin-top: 1rem;
          }
          &:hover {
            transform: translateY(-5px);
          }
          // 插頭線身
          &::before {
            content: "";
            opacity: 1;
            border-bottom: 1px solid #172a88;
            position: absolute;
            left: 10%;
            right: 0;
            bottom: -5px;
            width: 0;
            height: 0;
            transition: 0.2s 0.25s;
          }
          &:hover::before {
            left: 15%;
            right: 0;
            width: 70%;
            transition: 0.2s;
          }
          // 插頭頭部
          &::after {
            content: "";
            width: 0;
            height: 10px;
            opacity: 1;
            background-color: #172a88;
            position: absolute;
            left: 85%;
            bottom: -10px;
            transition: 0.2s 0.1s;
          }
          &:hover::after {
            width: 6px;
            transition: 0.2s 0.2s;
          }

          a {
            text-decoration: none;
            font-size: 1em;
            font-weight: normal;
            letter-spacing: 0.2em;
            color: #fff;
            position: relative;
            display: block;

            // 插頭黃色前端
            &::before {
              content: "";
              width: 0;
              height: 1px;
              opacity: 1;
              background-color: yellow;
              position: absolute;
              bottom: -7px;
              left: 86%;
              transition: 0.2s;
              z-index: 1;
            }
            &:hover::before {
              width: 6px;
              transition: 0.2s 0.4s;
            }
            &::after {
              content: "";
              width: 0;
              height: 1px;
              opacity: 1;
              background-color: yellow;
              position: absolute;
              bottom: -3px;
              left: 86%;
              transition: 0.2s;
              z-index: 1;
            }
            &:hover::after {
              width: 6px;
              transition: 0.2s 0.4s;
            }
          }
        } //li
      } //subNavbar
    } // dropdown
  } //navbar-option
} //navbar
