@mixin desktop {
  @media (max-width: 1200px) {
    @content;
  }
}
@mixin pad {
  @media (max-width: 992px) {
    @content;
  }
}
@mixin mini-pad {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: 576px) {
    @content;
  }
}

.navbar {
  width: 66rem;
  height: 6rem;
  position: relative;
  margin: auto;
  @include desktop {
    width: 48rem;
  }
  @include pad {
    width: 100%;
  }
  @include mini-pad {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    position: fixed;
    top: 0;
  }
  @include mobile {
    width: 100%;
  }

  .navbar-brand {
    display: inline-block;
    margin: 1rem 0 0 1.5rem;
    padding: 0.3125rem 0;
    @include mini-pad {
      margin: 1rem 0 0 1.5rem;
    }

    .navbar-logo {
      width: 12.5rem;
      @include pad {
        width: 10rem;
      }
      @include mini-pad {
        width: 9rem;
      }
      @include mobile {
        width: 7rem;
      }
    }
  }

  .navbar-line {
    width: 13rem;
    margin-left: 1.5rem;
    border-top: 2px solid #000;
    opacity: 0.3;
    @include pad {
      width: 10.5em;
    }
    @include mini-pad {
      width: 9.5rem;
      margin-left: 1.5rem;
      border-top: 1px solid #000;
      opacity: 0.3;
    }
    @include mobile {
      width: 8rem;
    }

    &::before {
      content: "";
      box-sizing: border-box;
      display: inline-block;
      transform: rotate(35deg);
      width: 2px;
      height: 43px;
      background: currentColor;
      border-radius: 3px;
      position: absolute;
      left: 15rem;
      bottom: 0.55rem;
      @include pad {
        width: 2px;
        height: 1.75rem;
        position: absolute;
        left: 12.4rem;
        bottom: 1.3rem;
      }
      @include mini-pad {
        width: 1px;
        height: 1.75rem;
        position: absolute;
        left: 11.45rem;
        bottom: 1.55rem;
      }
      @include mobile {
        height: 1.5rem;
        left: 9.9rem;
        bottom: 2.15rem;
      }
    }
    &::after {
      content: "";
      box-sizing: border-box;
      display: block;
      width: 60%;
      height: 2px;
      background: currentColor;
      position: absolute;
      left: 15.55rem;
      bottom: 2.45rem;
      @include pad {
        width: 60%;
        height: 2px;
        position: absolute;
        left: 12.9rem;
        bottom: 2.85rem;
      }
      @include mini-pad {
        width: 50%;
        height: 1px;
        position: absolute;
        left: 11.925rem;
        bottom: 3.1rem;
      }
      @include mobile {
        width: 45%;
        left: 10.35rem;
        bottom: 3.5rem;
      }
    }
  }
  @include mobile {
    .menu-btn {
      width: 2.2rem;
      height: 2.2rem;
      top: 1.2rem;
      right: 1.2rem;

      &::before {
        left: 0.2rem;
      }
    }
  }

  #menu-control {
    position: absolute;
    top: 0;
    opacity: 0;

    /* 768px以下裝置的選單控制 */
    :checked ~ .navbar-option {
      top: 6rem;
      opacity: 1;
    }
  }

  @include mini-pad {
    .menu-btn {
      width: 2.5rem;
      height: 2.5rem;
      background-color: #f7f7f7;
      border: 1px solid #aaa;
      border-radius: 5px;
      display: block;
      position: absolute;
      top: 1.5rem;
      right: 1.5rem;
      cursor: pointer;

      &::before {
        content: "";
        height: 3px;
        width: 1.8rem;
        position: absolute;
        left: 0.35rem;
        top: 0;
        bottom: 0;
        margin: auto;
        background-color: #000;
        box-shadow: 0 10px 0 #000, 0 -10px 0 #000;
      }

      span {
        opacity: 0;
        width: 1px;
        height: 1px;
        display: block;
        overflow: hidden;
      }
    }
  }

  /* 導覽列選項 */
  .navbar-option {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    margin: 0 auto;
    @include desktop {
      // margin: 0 0 0 10rem;
    }
    @include pad {
      padding: 0 0.75rem;
      font-size: 1.2em;
    }
    @include mini-pad {
      width: 100%;
      height: 25vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 auto;
      position: absolute;
      top: -17rem;
      opacity: 0;
      transition: 0.3s;
    }

    li {
      position: relative;

      &::before {
        content: "";
        display: inline-block;
        width: 0.6rem;
        height: 0.6rem;
        background-color: #000;
        opacity: 0.2;
        position: absolute;
        bottom: 0.1rem;
        left: 0.6rem;
      }
      &::after {
        content: "";
        display: inline-block;
        width: 0.6rem;
        height: 0.6rem;
        background-color: #000;
        opacity: 0.2;
        position: absolute;
        bottom: 0.1rem;
        right: 0.6rem;
      }

      a {
        color: #343875;
        padding: 0 1rem;
        font-size: 1.5em;
        font-weight: bold;
        text-decoration: none;
        text-shadow: 2px 1px #ccc;
        position: relative;
        @include desktop {
          font-size: 1.2em;
        }
        @include mini-pad {
          width: 100%;
          height: 3rem;
          display: block;
          background-color: #fff;
          line-height: 1.75;
          font-size: 1.5em;
          text-align: center;
          border-bottom: 1px solid #000;
          box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
        }

        &::before {
          content: "";
          display: inline-block;
          width: 0.3rem;
          height: 0.3rem;
          background-color: #000;
          opacity: 0.2;
          position: absolute;
          bottom: 0.1rem;
          left: 1.4rem;
        }
        &::after {
          content: "";
          display: inline-block;
          width: 0.3rem;
          height: 0.3rem;
          background-color: #000;
          opacity: 0.2;
          position: absolute;
          bottom: 0.1rem;
          right: 1.4rem;
        }
        &.active,
        > a::after {
          color: red;
        }
      }

      &:hover::before,
      &:hover::after,
      a:hover::before,
      a:hover::after {
        background-color: #029be2;
        opacity: 0.6;
      }
    } //li

    .subNavbar {
      width: 250px;
      height: 300px;
      display: none;
      flex-direction: column;
      text-align: center;
      background-color: #75c2d3;
      border-radius: 50px;
      position: absolute;
      top: 3rem;
      left: 6rem;

      li {
        margin-bottom: 1.3rem;
        padding-left: 0.5rem;
        transform: translateY(0px);
        transition: 0.3s;
        position: relative;

        :first-child {
          margin-top: 1.5rem;
        }
        // 插頭前端
        &::before {
          content: "";
          width: 0;
          height: 2px;
          background-color: yellow;
          position: absolute;
          bottom: -7px;
          left: 85.5%;
          transition: 0.2s;
        }
        &::after {
          content: "";
          width: 0;
          height: 2px;
          background-color: yellow;
          position: absolute;
          bottom: -3px;
          left: 85.5%;
          transition: 0.2s;
        }
        :hover {
          transform: translateY(-10px);
        }
        :hover::before {
          width: 6px;
          transition: 0.2s 0.4s;
        }
        :hover::after {
          width: 6px;
          transition: 0.2s 0.4;
        }
        a {
          text-decoration: none;
          font-size: 1.5em;
          letter-spacing: 0.5em;
          color: #fff;
          position: relative;

          // 插頭線段
          &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 100%;
            bottom: -5px;
            height: 0;
            border-bottom: 2px solid #172a88;
            transition: 0.2s 0.25s;
            z-index: -1;
          }
          &::before {
            content: "";
            position: absolute;
            left: 95%;
            bottom: -9px;
            width: 0;
            height: 10px;
            background-color: #172a88;
            transition: 0.2s 0.1s;
            z-index: -1;
          }
          :hover::after {
            left: 0;
            right: 0;
            transition: 0.2s;
          }
          :hover::before {
            width: 5px;
            transition: 0.2s 0.2s;
          }
        }
      } //li
    } //subNavbar
  } //navbar-option
} //navbar
